.footer {
  background-color: black;
  padding: 80px 90px;
  color: white;
  height: 100vh;
  background-size: cover;
    background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact-footer a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.contact-footer a:hover {
  color: #FB4B4E;
  text-decoration: none;
  transition: 2s ease;
  font-size: 40px;
}
