.navbar-abs {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  top: 0;
  position: fixed;
}
.navbar-abs a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 20px;
}
.navbar-abs a:hover {
  text-decoration: none;
  color: #FB4B4E;
  font-weight: light;
  font-size: 25px;
  transition: 1s ease;
}
.logo-nav img {
  position: fixed;
  height: 100px;
}
.logo-nav img {
  transition: all 0.7s ease-in-out 0s;
}
.logo-nav img:hover {
   cursor: default;
    transform: rotate(360deg);
    transition: all 0.7s ease-in-out 0s;
}

