.navbar-abs {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  top: 0;
  position: sticky;

}
 .navbar-abs a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
  }

.navbar-abs a:hover {
    text-decoration: none;
    color: #FB4B4E;
    font-weight: light;
    font-size: 25px;
    transition: 1s ease;
  }



.navbar-abs-right {
  display: flex;
  li {
    font-size: 18px;
    color: white;
  }

}
