.sticky-element {
  position: relative;
}
.logo-nav img {
  position: fixed;
  height: 100px;
  transition: all 0.7s ease-in-out 0s;
  padding: 15px 25px;
}
.logo-nav img:hover {
 cursor: default;
 transform: rotate(360deg);
 transition: all 0.7s ease-in-out 0s;
}

.followme {
  position: absolute;
  bottom: 80px;
  right: 20px;
  color: white;
  transform: rotate(90deg);
}

.sticky {
  position: fixed;
   color: white;
}
