.sticky-element {
  position: relative;
}
.logo-nav img {
  position: fixed;
  height: 100px;
  transition: all 0.7s ease-in-out 0s;
  padding: 15px 25px;
}
.logo-nav img:hover {
 cursor: default;
 transform: rotate(360deg);
 transition: all 0.7s ease-in-out 0s;
}

.followme {
  position: fixed;
  bottom: 40px;
  left: 95%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .followme {
  position: fixed;
  bottom: 40px;
  left: 90%;
}
}
.followme a {
  color: white;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px 10px;

}

.followme a:hover {
  color: #FB4B4E;
  border: 1px solid #FB4B4E;
}

.sticky {
  position: fixed;
   color: white;
}

.rotateninety {
  transform: rotate(90deg);
}
