/*GLOBAL*/

/*BANNER*/
.banner-portfolio {
  background-size: cover;
  height: 100vh;
}

.banner-text {
  padding: 120px 100px;
}

.banner-text h1 {
  color: #272728;
  font-weight: bold;
  font-size: 50px;
}
.banner-text p {
  color: #272728;
}

.banner-text a {
  text-decoration: none;
}

.banner-text a:hover {
  text-decoration: none;
}

/*.social-medias-abs {
  padding: 180px 80px;
}*/

.social-medias-abs a{
  text-decoration: none;
  margin-right: 30px;
  color: #272728;
  font-size: 35px;
  line-height: 100px;
}

.social-medias-abs a:hover {
  color: black;
}

/*ABOUT*/

.about {
  box-shadow: 0px 0px 14px -8px rgba(39,39,40,1);
  margin: 25px 100px;
  padding: 50px;
  background-color: #F5F1EA;
}

.about h2 {
  text-align: center;
}
.about img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
}

/*SERVICES*/

.services {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  padding: 0px 30px;
}

.conception {
  width: 400px;
  box-shadow: 0px 0px 14px -8px rgba(39,39,40,1);
  padding: 15px;
  background-color: #F5F1EA;
}
.design {
  width: 400px;
  box-shadow: 0px 0px 14px -8px rgba(39,39,40,1);
  padding: 15px;
  background-color: #F5F1EA;
}
.development {
  width: 400px;
  box-shadow: 0px 0px 14px -8px rgba(39,39,40,1);
  padding: 15px;
  background-color: #F5F1EA;
}

/*PROJECTS*/

.projects {
  margin: 25px 100px;
  text-align: center;
}

.projects img {
  height: 300px;
}
